<clr-modal [(clrModalOpen)]="isModalOpened" id="delete-contact-modal">
  <h4 class="modal-title">Delete Contact</h4>
  <div class="modal-body">
    Are you sure you wish to delete <strong>{{contact.firstName}} {{contact.lastName}}</strong>?
  </div>
  <div class="modal-footer">
    <button id="delete-contact-modal-cancel" class="btn btn-link" (click)="closeModal()">Cancel</button>
    <button id="delete-contact-modal-delete" class="btn btn-danger" (click)="deleteContact()">Delete</button>
  </div>
</clr-modal>
