<div id="delete-contact-modal">
  <div class="modal-header">
    <h4 class="modal-title">Delete Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you wish to delete <strong>contact.firstName contact.lastName</strong>?
  </div>
  <div class="modal-footer">
    <button id="delete-contact-modal-cancel" class="btn btn-link" (click)="activeModal.dismiss()">Cancel</button>
    <button id="delete-contact-modal-delete" class="btn btn-danger">Delete</button>
  </div>
</div>
