<clr-modal [(clrModalOpen)]="isModalOpened" id="add-contact-modal">
  <h4 class="modal-title">Add Contact</h4>
  <div class="modal-body">
    <form name="addContactForm" #addContactForm="ngForm">
      <section class="form-block">
        <div class="form-group row">
          <div class="col-md-4">
            <label for="first-name">First name</label>
          </div>
          <div class="col-md-8">
            <input id="first-name" name="firstName" type="text" class="form-control input-md" required
                   [(ngModel)]="contact.firstName">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <label for="last-name">Last name</label>
          </div>
          <div class="col-md-8">
            <input id="last-name" name="lastName" type="text" class="form-control input-md"
                   [(ngModel)]="contact.lastName">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <label for="company">Company</label>
          </div>
          <div class="col-md-8">
            <input id="company" name="company" type="text" class="form-control input-md"
                   [(ngModel)]="contact.company">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <label for="phone">Phone</label>
          </div>
          <div class="col-md-8">
            <input id="phone" name="phone" type="text" class="form-control input-md"
                   [(ngModel)]="contact.phone">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <label for="email">Email</label>
          </div>
          <div class="col-md-8">
            <input id="email" name="email" type="text" class="form-control input-md"
                   [(ngModel)]="contact.email">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <label for="address">Address</label>
          </div>
          <div class="col-md-8">
            <input id="address" name="address" type="text" class="form-control input-md"
                   [(ngModel)]="contact.address">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-4">
            <label for="notes">Notes</label>
          </div>
          <div class="col-md-8">
                        <textarea class="form-control" id="notes" name="notes"
                                  [(ngModel)]="contact.notes"></textarea>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button id="add-contact-modal-cancel" class="btn btn-link"
            (click)="closeModal()">Cancel
    </button>
    <button id="add-contact-modal-save" class="btn btn-primary"
            [disabled]="!addContactForm.form.valid"
            (click)="save(contact)">Save
    </button>
  </div>
</clr-modal>
