<div id="contacts" class="content-container">
  <div class="content-area">

    <div class="actions-bar pull-right">
      <button id="add-contact-button" type="button" class="btn btn-outline" (click)="openAddContactModal()">
        Add new contact
      </button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts; let i = index">
        <th>{{i}}</th>
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.company}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td>
          <button class="btn btn-sm btn-link edit-contact-btn" type="submit" title="Edit contact"
                  (click)="openEditContactModal(contact)">
            <clr-icon shape="pencil"></clr-icon>
          </button>
          <button class="btn btn-sm btn-link delete-contact-btn" type="submit" title="Delete contact"
                  (click)="openDeleteContactModal(contact)">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <app-add-contact-modal [isModalOpened]="showAddContactModal"
                         (modalClosed)="onModalClosed($event)"></app-add-contact-modal>

  <app-delete-contact-modal [contact]="selectedContact"
                            [isModalOpened]="showDeleteContactModal"
                            (modalClosed)="onModalClosed($event)"></app-delete-contact-modal>

  <app-edit-contact-modal [contact]="selectedContact"
                          [isModalOpened]="showEditContactModal"
                          (modalClosed)="onModalClosed($event)"></app-edit-contact-modal>
</div>
