<clr-header>
  <div class="branding">
    <a class="nav-link" routerLink="/">
      <clr-icon shape="event" class="is-highlight"></clr-icon>
      <span class="title">Personal Assistant</span>
    </a>
  </div>

  <div class="header-nav">
    <a class="nav-link nav-text" routerLink="/contacts" routerLinkActive="active">Contacts</a>
    <a class="nav-link nav-text" routerLink="/tasks/overview" routerLinkActive="active">Tasks</a>
    <a class="nav-link nav-text" routerLink="/shopping-list" routerLinkActive="active">Shopping list</a>
  </div>

  <div class="header-actions">
    <a class="nav-link nav-text">
      Signed in as <span class="signed-in-user">{{userName}}</span>
    </a>
  </div>
</clr-header>
