<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#appNavbar"
          aria-controls="appNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Personal Assistant</a>

  <div class="collapse navbar-collapse" id="appNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/contacts">Contacts</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/tasks/overview">Tasks</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping list</a></li>
    </ul>

    <span class="navbar-text">Signed in as <span class="signed-in-user">{{userName}}</span></span>
  </div>
</nav>
